@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    background-color: rgba(120, 122, 122, 0.548);
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-style: italic;
    font-weight: normal;
    color: #fff;
    
}

#myphoto {
    position: relative;
    left: 31%; 
    bottom: 3pc;
    border-radius: 80px;
}

#name {
    line-height: 21px;
    width: 40%;
}

#email {
    line-height: 21px;
    width: 40%;
}

#message {
    font-size: 30px;

} 

#butsub {
    position: relative;
    left: 3px;
    bottom: 59px;
}

.title {
    border: 2px dashed aquamarine;
    background-color: aquamarine;
    border-radius: 80px;
    margin-bottom: 10px;

}

.about {
    border: 2px solid rgb(238, 32, 18);
    background-color: rgb(238, 32, 18);
    margin-bottom: 10px;
    border-radius: 80px;
}

.hobby {
    border: 2px solid rgb(236, 115, 16);
    background-color: rgb(236, 115, 16);
    margin-bottom: 10px;
    border-radius: 80px;
}

.table {
    border: 2px solid rgb(235, 191, 48);
    background-color: rgb(235, 191, 48);
    margin-bottom: 10px;
    border-radius: 80px;
}

.inputs {
    border: 2px solid rgb(199, 233, 47);
    background-color: rgb(199, 233, 47);
    margin-bottom: 10px;
    border-radius: 80px;
}

.connection {
    border: 2px solid rgb(97, 250, 117);
    background-color: rgb(97, 250, 117);
    margin-bottom: 10px;
    border-radius: 80px;
}
