@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    font-family: 'Pacifico', cursive;
    font-size: 50px;
    font-style: italic;
    font-weight: normal;
    background-image: url(https://images.hdqwalls.com/download/colorful-planets-chill-scifi-pink-4k-zs-2048x1152.jpg);
}

#name {
    line-height: 21px;
    width: 25pc;
}
#email {
    line-height: 21px;
    width: 25pc;
}
#message {
    font-size: 30px;
} 
